$bg:white;
$bgTwo: #3A68B8;

@mixin df{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#what{
  background: #020a18;
  padding: 50px 0;
  .what{
    &__general{
      @include df();
      &__text{
        h1{
          font-size: 40px;
          font-weight: 700;
         color: $bg;

        }
        p{
          width: 458px;
          font-size: 16px;
          font-weight: 600;
        color: $bg;
        }
      }
    }
  }
}