$bg:white;
$bgTwo: #3A68B8;

@mixin df{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 @mixin center{
   display: flex;
   justify-content: center;
   align-items: center;
 }

@mixin btn{
  background: $bgTwo;
  font-size: 20px;
  font-weight: 600;
 padding: 15px 25px;
  color: $bg;
  border-radius: 10px;
  @include center;
  border: 2px solid $bgTwo;


  &:hover{
    background: transparent;
    border: 2px solid $bg;
  }
}

#hero{
  background: #08101e;
  padding: 60px 0;

  .hero{

    &__block {
      @include df();
      padding-bottom: 70px;

      &--text{
        h3 {
          font-size: 18px;
          font-weight: 600;
          color: $bgTwo;

        }

        h1 {
          font-size: 55px;
          font-weight: 800;
          line-height: 71px;
          color: $bg;
          width: 604px;
          padding: 5px 0 15px 0;
        }

        p {
          font-size: 18px;
          font-weight: 600;
          line-height: 29px;
          color: $bg;
          width: 558px;
          padding-bottom: 20px;
        }
        div{
          @include df();
          width: 60%;


          button{
            @include btn();
          }
        }
      }

      img{
        width: 45%;
      }
    }

    &__icons{
      @include center;
      img{
        padding: 0 15px;
      }
    }
  }
}